body {
    background: linear-gradient(#717171 1px, #212121 110px);
    color: #919191;
}

i {
    font-size: 5em;
}

a {
    color: #919191;
}

a:hover {
    color: #f3f3f3;
}

.about {
    border-top: #f3f3f3 1px solid;
    text-align: left;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.contact {
    text-align: left;
    font-size: 14px;
}

.light-text {
    color: #f3f3f3;
}

.light-underline {
    padding-bottom: 5px;
}

.portfolio-image {
    width: 330px;
}

.profile-image {
    width: 175px;
    border-radius: 50%;
    margin: 20px 0 20px 0;
}

.project {
    margin: 10px;
    padding: 0px 20px;
    text-align: center;
    color: #f3f3f3;
}

#title {
    text-align: left;
    padding: 20px 0 0 30px;
}

#portfolio {
    display: block;
}

#dragonfighter {
    display: none;
    margin: 50px 0 0 30px;
    padding-bottom: 500px;
}

#reactchess {
    display: none;
    margin: 50px 0 0 30px;
    padding-bottom: 500px;
}

#ryde {
    display: none;
    margin: 50px 0 0 30px;
    padding-bottom: 500px;
}

#solitaire {
    display: none;
    margin: 50px 0 0 30px;
    padding-bottom: 500px;
}

#WTPA {
    display: none;
    margin: 50px 0 0 30px;
    padding-bottom: 500px;
}

#sidebar {
    margin-left: 0;
    background-color: #171717;
    text-align: center;
    min-width: 280px;
}

@media only screen and (min-width: 576px) {

    .about {
        max-width: 200px;
        margin: 0;
    }
    .fixed {
        position: fixed;
        left: 0;
        max-width: 280px;
        margin: 20px;
    }
    .profile-image {
        margin: 0 20px 20px 20px;
    }
    #sidebar {
        max-width: 280px;
        text-align: left;
    }
}
